<nav class="navbar navbar-expand navbar-light bg-dark px-2 nav-custom">
    <div class="d-flex">
      <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
        <i class="fa-solid fa-bars"></i>
      </div>
      <h4 class="navbar-brand px-4 text-light">Anahi Apartamentos</h4>
    </div>
  
    <!--  <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->
    <div class="btn-group">
      <button
        type="button"
        class="btn"
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-expanded="false"
        style="border: none"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/219/219983.png"
          alt="profile"
          width="30"
          height="30"
        />
      </button>
      <ul
        class="dropdown-menu dropdown-menu-end dropdown-menu-start py-3"
        style="width: 220px ; margin-top: 15px"
      >
        <!-- <p class="px-3 fs-5 text-muted">Cuenta</p> -->
        <div class="d-flex px-3 align-items-center gap-3">
          <img
            src="https://cdn-icons-png.flaticon.com/512/219/219983.png"
            alt="profile"
            width="40"
            height="40"
          />
          <div class="d-flex flex-column">
            <a>{{this.username}}</a>
            <small class="text-muted">Administrador</small>
          </div>
        </div>
        <hr />
        <li>
          <button class="dropdown-item">
            Gestionar Cuenta
          </button>
        </li>
  
        <li>
          <button class="dropdown-item" (click)="logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  
    <!-- <div class="profile-logo dropstart  " >
          <button class="btn btn-danger" (click)="logout()">LogOut</button>
          <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
              Agus
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item">LogOut</a></li>
          </ul>
      </div> -->
  </nav>
  
  <!-- <button class="btn btn-danger" (click)="logout()">LogOut</button> -->
  