<main class="container-custom">
  <section class="container-login">
    <h2 class="fs-4 fw-normal">Recuperar contraseña</h2>
    <form class="form-container  py-3"  [formGroup]="formLogin">
      <div class="container-input">
        <label for="exampleInputPassword1" class="form-label"
          >Correo Electronico</label
        >
        <input
          type="text"
          placeholder="Ingrese su correo electronico"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="correo"
        />
        <p
        *ngIf=" formLogin.get('correo')?.touched && formLogin.get('correo')?.errors?.['required'] "
        class="text-danger py-2 m-0"
      >
        este campo es obligatorio
      </p>
      <p
        *ngIf=" formLogin.get('correo')?.touched && formLogin.get('correo')?.errors?.['email'] "
        class="text-danger py-2 m-0"
      >
        Ingrese un correo electronico valido
      </p>
      </div>

      <button type="submit" class="btn btn-primary w-100" (click)="sendEmail()">
        Ingresar
      </button>
    </form>
    <nav class="container-lost-password">
      <a routerLink="/accounts/login">Volver</a>
    </nav>
  </section>
</main>
